doctype html
html
    head
        title Secrets Database
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='/javascripts/jquery-1.11.3.min.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')   
   
    body
    
        nav.navbar.navbar-default
            container
    
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-expanded="false")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
        
                    a.navbar-brand(href="#") Hush-Hush

            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home


                form.navbar-form.navbar-right(action="/index", method="post")
                    .form-group
                        input.form-control(type="text", id="userName", name="userName" placeholder="Username")
                                    
                        input.form-control(type="password", id="passWord", name="passWord" placeholder="Password")
                        button.btn.btn-default(type="submit") Login

    .jumbotron.badLogin.vertical-center
        .container
            h1.bannerh1 I Thought We Were Friends
            h3.bannerh3 (We Still Are.)
            
    .container
        .col-lg-12.col-md-12
            h3 Maybe you were trying to look at someone's secrets, maybe you forgot your password. We forgive you, and please try again! Unless you were trying to look at someone's secrets...That's just not nice.             
            
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-lock.fa-4x
            h2 Secure
            p With this secrets database, your secrets will always be safe! So take that Stacey!
                
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-code.fa-4x
            h2 Node
            p We code in the Node! We remain as fast as possible, so you have short loading times.
                
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-unlink.fa-4x
            h2 Safe
            p Your secrets are safe here and definitely won't be on display in the bathroom stall.
        
    .panel-footer 
        p Coded with 
            span.i.fa.fa-heart.fa-1x  by Cole. Find on  
             a(href="https://github.com/Cole-Campbell/ssp-assignment1")
                 span.i.fa.fa-github.fa-1x .
             
        