extends layout
block content  
    
    .jumbotron.badLogin.vertical-center
        .container
            h1.bannerh1 I Thought We Were Friends
            h3.bannerh3 (We Still Are.)
            
    .container
        .col-lg-12.col-md-12
            h3 Maybe you were trying to look at someone's secrets, maybe you forgot your password. We forgive you, and please try again! Unless you were trying to look at someone's secrets...That's just not nice.             
        .col-lg-10.col-md-10.col-sm-8.col-xs-6.col-lg-offset-1.col-md-offset-1.col-sm-offset-2.col-xs-offset-3
            hr
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-lock.fa-4x
            h2 Secure
            p With this secrets database, your secrets will always be safe! So take that Stacey!
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-code.fa-4x
            h2 Node
            p We code in the Node! We remain as fast as possible, so you have short loading times.
                
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-unlink.fa-4x
            h2 Safe
            p Your secrets are safe here and definitely won't be on display in the bathroom stall.
            
    .jumbotron
        h4 "I use this all the time, and no one knows that I sleep with a Teddy Bear still!"
        h5 - Cole
    
    include footer