.panel-footer 
        p Coded with 
            span.i.fa.fa-heart.fa-1x  by Cole. Find on  
             a(href="https://github.com/Cole-Campbell/ssp-assignment1")
                 span.i.fa.fa-github.fa-1x .
block content