extends layout

block content
    .jumbotron.vertical-center
        .container
            h1.bannerh1 Your Secret Is Safe With Us
            h3.bannerh3 (We Swear It Is.)
            
    .container
        .col-lg-12.col-md-12
            h3 Your secret is safe with us! With the best security around, your secrets will be best kept here, and not that diary we saw your mother taking a glance at while she was "cleaning your room". 
            
            
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-lock.fa-4x
            h2 Secure
            p With this secrets database, your secrets will always be safe! So take that Stacey!
                
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-code.fa-4x
            h2 Node
            p We code in the Node! We remain as fast as possible, so you have with short load times.
                
        .col-lg-4.col-md-4.col-sm-4
            i.fa.fa-unlink.fa-4x
            h2 Safe
            p Your secrets are safe here and definitely won't be on display in the bathroom stall.
        
    .panel-footer 
        p Coded with 
            span.i.fa.fa-heart.fa-1x  by Cole
        