doctype html
html
    head
        title Secrets Database
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='/javascripts/jquery-1.11.3.min.js')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')   
   
    body
    
        nav.navbar.navbar-default
            container
    
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-expanded="false")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
        
                    a.navbar-brand(href="#") Hush-Hush

            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home


                form.navbar-form.navbar-right(action="/logout", method="post")
                        button.btn.btn-default(type="submit") Logout

    .jumbotron.secret.vertical-center
        .container
            h1.bannerh1 Right Where You Left Them
            h3.bannerh3 (We Swear They Are.)
            
    .container
        .col-lg-12.col-md-12
            h3 Right down there is where you left your secrets. We wouldn't move them on you.             
        
    .panel-footer 
        p Coded with 
            span.i.fa.fa-heart.fa-1x  by Cole. Find on  
             a(href="https://github.com/Cole-Campbell/ssp-assignment1")
                 span.i.fa.fa-github.fa-1x .
             
        