/*Jumbotron Style Edits*/
.jumbotron {
    background-size: cover;
    background-color:#333333;
    color:#f8f8f8
}

.home{
    background-image: url("../images/banner-web.jpg");
    height:500px !important;
    background-position: center;
}

.burn{
    background-image: url("../images/burn-banner-web.jpg");
    height:500px !important;
}

.badLogin{
    background-image: url("../images/bad-banner-web.jpg");
    height:500px !important;
    background-position: left;
}

.secret{
    background-image: url("../images/secret-banner-web.jpg");
    height:500px !important;
    background-position: center;
}

/*Jumbotron Text Style Edits*/

.vertical-center {
      height: 100%;
      width: 100%;
      text-align: center;  /* align the inline(-block) elements horizontally */
      font: 0/0 a;         /* remove the gap between inline(-block) elements */
}
.vertical-center:before {    /* create a full-height inline block pseudo=element */
      content: ' ';
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      height: 100%;
}
.vertical-center > .container {
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;  /* vertical alignment of the inline element */
      font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

.bannerh1{
	text-align: center;
	color:#f8f8f8 !important;
}

.bannerh3{
	color:#f8f8f8 !important;
}

/*Form style edits*/
.secretForm{
    padding:10px 10px 20px 10px;
}

.secret-btn{
    margin-top:10px;
}

.navbar-form{
	margin-top:10px;
}

.btn-danger{
    margin:20px 0px 60px 0px;
}

/*Page Text Style Edits*/

h3 {
	text-align:center;
}

hr{
    margin-top:10px;
}

.secret-hr{
    margin:0px !important;
}

.col-lg-4{
	text-align:center;
	padding:48px 20px;
}

.panel-footer p{
    text-align: center;
    line-height: 10px;
    padding-top: 5px;
}

p a{
    color:#333333;
}

p a:hover{
    color: steelblue;
}

.secrettext{
    text-align: left !important;
}